[user]
	name = Matej 'Yin' Gagyi
	email = yinotaurus@gmail.com
[push]
	default = upstream
[branch]
	autosetuprebase = always
[alias]
	l1 = "log --oneline"
	s = "status -s"
	a = add
	au = "add -u"
	c = commit
	cm = "commit -m"
	cam = "commit --amend -m "
[color]
	ui = auto

